:root{
    --bg-color: #fcf2e2;
    --text-color: #cec591;
    --bg-color-darkmode: #000;
    --text-color-darkmode: #fff;
    --logo: #f7df59;
    --navbar-color: #283674;
    --card-color: #283674;
    --footer-color: #283674;
}

body.change-mode{
    --bg-color: #424242;
    --text-color: #cec591;
    --bg-color-darkmode: #fff;
    --text-color-darkmode: #000;
    --text-title-color: #ffee00;
    --logo: #f7df59;
    --navbar-color: #161616;
    --card-color: #161616;
    --footer-color: #161616;
}