body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.navbar{
    background-color: var(--navbar-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 100px;
}

.navbar .logo{
    font-weight: 800;
    font-size: larger;
}

.logo{
    color: var(--logo);
}

.navbar ul{
    list-style:none;
    display: flex;
    gap: 2rem;
    margin: 0;
}

.navbar ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: bolder;
}

.cards{
    margin: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.card{
    background-color: var(--card-color);
    padding: 1rem;
    border-radius: 8px;
    width: 21rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card ul {
    padding: 1rem;
    color: var(--text-color);
}
.h3-card{
    padding-bottom: 1rem;
    color: var(--text-color);
    text-align: center;
}
.div-img{
    text-align: center;
}

.img-card{
    width: 15rem;
    height: 20rem;
    padding-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 10px;
}

.button-change-mode{
    cursor: pointer;
    padding: 5px 10px;
    background-color: var(--bg-color-darkmode);
    color: var(--text-color-darkmode);
    border-radius: 10px;
}
footer{
    background-color: var(--footer-color);
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.text-card{
    font-weight: 500;
}